*{
    margin: 0;
    padding: 0;
}
@keyframes mudarcor{
    0%{color: rgb(16, 250, 35);}
    25%{color: rgb(255, 47, 47);}
    50%{color: rgb(47, 64, 255);}
    75%{color: rgb(255, 234, 47);}
    100%{color: rgb(255, 47, 213);}
}
.ojogo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 42px;
text-shadow: 1px 1px 4px rgb(6, 255, 6);
padding: 20px;
    /* color: rgba(238, 255, 0, 0.616); */
    animation-name: mudarcor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: rgba(1, 15, 3, 0.541);

}
body{
    text-align: center;
    background-image: url(./wp2567196.jpg);
    background-repeat:no-repeat ;
    background-size: cover;

}
.campo{
    padding-top: 1cm;
    padding-bottom: 2cm;
    background-color: rgba(1, 15, 3, 0.541);
}
/* rgba(8, 177, 255, 0.603); */
.quadrado{
    border-radius: 5%;
width: 100px;
height: 100px;
background-color:rgba(52, 43, 176, 0.846);
box-shadow: 1px 5px 11px rgb(255, 255, 255);

border: 1px groove gray;
display: inline-block;
margin: auto;
}

.o{position: relative;

}
.o::after{
    content: "\1F525";
font-size: 50px;
line-height: 100px;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
text-shadow: 1px 1px 4px rgb(255, 160, 6);

}

.x{position: relative;

}
.x::after{
    content: "\2764";
font-size: 50px;
line-height: 100px;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
color: red;
text-shadow: 2px 2px rebeccapurple;
}

#botaoReset{
    font-family: cursive, border;
    font-weight: 999;
    font-size:23px ;
    margin-top: 2cm;
    border-radius: 10px;
    padding: 10px;
    color: azure;
background-color: rgba(204, 39, 39, 0.876);
border: none;
transition-duration: 500ms;

}

#botaoReset:hover{
    background-color: rgba(245, 16, 16, 0.876);
transition-duration: 300ms;
padding: 15px;
}